:host {
  display: block;
  margin-top: 1rem;
}

mat-accordion {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

mat-card {
  width: 600px;
  margin-bottom: 1rem;
}

.color-box {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: #ccc;
  left: 5px;
  top: 5px;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
}
